# DataFrames

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
from numpy.random import randn

In [45]:
np.random.seed(15)
randn(5,4)

array([[-0.31232848,  0.33928471, -0.15590853, -0.50178967],
       [ 0.23556889, -1.76360526, -1.09586204, -1.08776574],
       [-0.30517005, -0.47374837, -0.20059454,  0.35519677],
       [ 0.68951772,  0.41058968, -0.56497844,  0.59939069],
       [-0.16293631,  1.6002145 ,  0.6816272 ,  0.0148801 ]])

In [ ]:
np.random.seed(102)
df = pd.DataFrame(randn(5,4),index='A B C D E'.split(),columns='W X Y Z'.split())

In [7]:
df

          W         X         Y         Z
A  1.668068  0.925862  1.057997 -0.920339
B  1.299748  0.331183 -0.509845 -0.903099
C -0.130016 -2.238203  0.973165 -0.024185
D -0.484928 -1.109264 -0.558975  1.042387
E -1.712263  0.136120 -0.464444  0.050980

## Selection and Indexing

Let's learn the various methods to grab data from a DataFrame

In [8]:
df[  ['W']  ]

          W
A  1.668068
B  1.299748
C -0.130016
D -0.484928
E -1.712263

In [9]:
# Pass a list of column names
df[ ['W','Z'] ]

          W         Z
A  1.668068 -0.920339
B  1.299748 -0.903099
C -0.130016 -0.024185
D -0.484928  1.042387
E -1.712263  0.050980

In [16]:
# SQL Syntax (NOT RECOMMENDED!)
df.W

A    1.668068
B    1.299748
C   -0.130016
D   -0.484928
E   -1.712263
Name: W, dtype: float64

DataFrame Columns are just Series

In [ ]:
type(df['W'])

pandas.core.frame.DataFrame

**Creating a new column:**

In [ ]:
df['new'] = df['W'] + df['Y']

In [18]:
df

          W         X         Y         Z       new
A  1.668068  0.925862  1.057997 -0.920339  2.726065
B  1.299748  0.331183 -0.509845 -0.903099  0.789903
C -0.130016 -2.238203  0.973165 -0.024185  0.843149
D -0.484928 -1.109264 -0.558975  1.042387 -1.043903
E -1.712263  0.136120 -0.464444  0.050980 -2.176707

** Removing Columns**

In [22]:
df.drop('new',axis=1)

          W         X         Y         Z
A  1.668068  0.925862  1.057997 -0.920339
B  1.299748  0.331183 -0.509845 -0.903099
C -0.130016 -2.238203  0.973165 -0.024185
D -0.484928 -1.109264 -0.558975  1.042387
E -1.712263  0.136120 -0.464444  0.050980

In [23]:
# Not inplace unless specified!
df

          W         X         Y         Z       new
A  1.668068  0.925862  1.057997 -0.920339  2.726065
B  1.299748  0.331183 -0.509845 -0.903099  0.789903
C -0.130016 -2.238203  0.973165 -0.024185  0.843149
D -0.484928 -1.109264 -0.558975  1.042387 -1.043903
E -1.712263  0.136120 -0.464444  0.050980 -2.176707

In [ ]:
df.drop('new',axis=1,inplace=True)

In [25]:
df

          W         X         Y         Z
A  1.668068  0.925862  1.057997 -0.920339
B  1.299748  0.331183 -0.509845 -0.903099
C -0.130016 -2.238203  0.973165 -0.024185
D -0.484928 -1.109264 -0.558975  1.042387
E -1.712263  0.136120 -0.464444  0.050980

Can also drop rows this way:

In [28]:
df.drop('E',axis=0)

          W         X         Y         Z
A  1.668068  0.925862  1.057997 -0.920339
B  1.299748  0.331183 -0.509845 -0.903099
C -0.130016 -2.238203  0.973165 -0.024185
D -0.484928 -1.109264 -0.558975  1.042387

In [26]:
df.loc['A']

W    1.668068
X    0.925862
Y    1.057997
Z   -0.920339
Name: A, dtype: float64

** Selecting Rows**

Or select based off of position instead of label

In [27]:
df.iloc[2]

W   -0.130016
X   -2.238203
Y    0.973165
Z   -0.024185
Name: C, dtype: float64

** Selecting subset of rows and columns **

In [29]:
df

          W         X         Y         Z
A  1.668068  0.925862  1.057997 -0.920339
B  1.299748  0.331183 -0.509845 -0.903099
C -0.130016 -2.238203  0.973165 -0.024185
D -0.484928 -1.109264 -0.558975  1.042387
E -1.712263  0.136120 -0.464444  0.050980

In [30]:
df.loc['B','Y']

-0.5098449678999922

In [33]:
df.loc[ ['A','B'], ['W', 'X'] ]

          W         X
A  1.668068  0.925862
B  1.299748  0.331183

### Conditional Selection

An important feature of pandas is conditional selection using bracket notation, very similar to numpy:

In [46]:
df

          W         X         Y         Z
A  1.668068  0.925862  1.057997 -0.920339
B  1.299748  0.331183 -0.509845 -0.903099
C -0.130016 -2.238203  0.973165 -0.024185
D -0.484928 -1.109264 -0.558975  1.042387
E -1.712263  0.136120 -0.464444  0.050980

In [47]:
df>0

       W      X      Y      Z
A   True   True   True  False
B   True   True  False  False
C  False  False   True  False
D  False  False  False   True
E  False   True  False   True

In [48]:
df[df>0]

          W         X         Y         Z
A  1.668068  0.925862  1.057997       NaN
B  1.299748  0.331183       NaN       NaN
C       NaN       NaN  0.973165       NaN
D       NaN       NaN       NaN  1.042387
E       NaN  0.136120       NaN  0.050980

In [49]:
df[df['W']>0]

          W         X         Y         Z
A  1.668068  0.925862  1.057997 -0.920339
B  1.299748  0.331183 -0.509845 -0.903099

In [ ]:
df[df['W']>0]['Y']

A    1.057997
B   -0.509845
Name: Y, dtype: float64

In [ ]:
df[df['W']>0][['Y','X']]

          Y         X
A  1.057997  0.925862
B -0.509845  0.331183

For two conditions you can use | and & with parenthesis:

In [ ]:
df[(df['W']>0) & (df['Y'] > 1)]

          W         X         Y         Z
E  0.190794  1.978757  2.605967  0.683509

## More Index Details

Let's discuss some more features of indexing, including resetting the index or setting it something else. We'll also talk about index hierarchy!

In [50]:
df

          W         X         Y         Z
A  1.668068  0.925862  1.057997 -0.920339
B  1.299748  0.331183 -0.509845 -0.903099
C -0.130016 -2.238203  0.973165 -0.024185
D -0.484928 -1.109264 -0.558975  1.042387
E -1.712263  0.136120 -0.464444  0.050980

In [51]:
# Reset to default 0,1...n index
df.reset_index()

  index         W         X         Y         Z
0     A  1.668068  0.925862  1.057997 -0.920339
1     B  1.299748  0.331183 -0.509845 -0.903099
2     C -0.130016 -2.238203  0.973165 -0.024185
3     D -0.484928 -1.109264 -0.558975  1.042387
4     E -1.712263  0.136120 -0.464444  0.050980

In [ ]:
newind = 'CA,NY,WY,OR,CO'.split(',')

In [62]:
newind

['CA', 'NY', 'WY', 'OR', 'CA']

In [ ]:
df['States'] = newind

In [82]:
df

          W         X         Y         Z States
A  1.668068  0.925862  1.057997 -0.920339     CA
B  1.299748  0.331183 -0.509845 -0.903099     NY
C -0.130016 -2.238203  0.973165 -0.024185     WY
D -0.484928 -1.109264 -0.558975  1.042387     OR
E -1.712263  0.136120 -0.464444  0.050980     CO

In [83]:
df.set_index('States')

               W         X         Y         Z
States
CA      1.668068  0.925862  1.057997 -0.920339
NY      1.299748  0.331183 -0.509845 -0.903099
WY     -0.130016 -2.238203  0.973165 -0.024185
OR     -0.484928 -1.109264 -0.558975  1.042387
CO     -1.712263  0.136120 -0.464444  0.050980

In [ ]:
df.loc[['CA'],]

In [ ]:
df.set_index('States',inplace=True)

In [ ]:
df

               W         X         Y         Z
States
CA      1.668068  0.925862  1.057997 -0.920339
NY      1.299748  0.331183 -0.509845 -0.903099
WY     -0.130016 -2.238203  0.973165 -0.024185
OR     -0.484928 -1.109264 -0.558975  1.042387
CO     -1.712263  0.136120 -0.464444  0.050980