## Python Basics

### Math Operators

From **Highest** to **Lowest** precedence:

| Operators | Operation        | Example         |
| --------- | ---------------- | --------------- |
| **        | Exponent         | `2 ** 3 = 8`    |
| %         | Modulus/Remaider | `22 % 8 = 6`    |
| //        | Integer division | `22 // 8 = 2`   |
| /         | Division         | `22 / 8 = 2.75` |
| *         | Multiplication   | `3 * 3 = 9`     |
| -         | Subtraction      | `5 - 2 = 3`     |
| +         | Addition         | `2 + 2 = 4`     |

Examples of expressions in the interactive shell:

In [1]:
3**3

27

In [2]:
8*5

40

In [3]:
(2 + 3) * 7

35

In [4]:
5 * 6 + 5

35

In [5]:
2 + 8

10

In [6]:
56% 7

0

In [7]:
 (5 - 1) * ((7 + 1) / (3 - 1))

16.0

### Data Types

| Data Type              | Examples                                  |
| ---------------------- | ----------------------------------------- |
| Integers               | `-2, -1, 0, 1, 2, 3, 4, 5`                |
| Floating-point numbers | `-1.25, -1.0, --0.5, 0.0, 0.5, 1.0, 1.25` |
| Strings                | `'a', 'aa', 'aaa', 'Hello!', '11 cats'`   |


### String Concatenation and Replication

String concatenation:

In [8]:
name = "Atin"

In [9]:
name  * 7

'AtinAtinAtinAtinAtinAtinAtin'

In [10]:
mynb = """
  blah blah 
  HI! This is python 
  """
print (mynb)

  blah blah
  HI! This is python

In [11]:
myVariable ="""
 hi
 hello
"""
print(myVariable)

 hi
 hello

In [12]:
for i in range(1,10):
  print(i)

1
2
3
4
5
6
7
8
9

In [13]:
for i in range(10,1,-3):
  print(i)

10
7
4

### Variables

You can name a variable anything as long as it obeys the following three rules:

1. It can be only one word.
2. It can use only letters, numbers, and the underscore (`_`) character.
3. It canâ€™t begin with a number.


Example:

In [14]:
 myVariable = 5.2
 type(myVariable)

float

### Comments

Inline comment:

In [15]:
# This is a comment

Multiline comment:

In [16]:
# This is a
# multiline comment

Code with a comment:

In [17]:
a = 1  # initialization

Please note the two spaces in front of the comment.

Function docstring:

In [18]:
def sufoo():
    """
    This is a function docstring
    You can also use:
    ''' Function Docstring '''
    """

In [19]:
#help(foo)
help(abs)

Help on built-in function abs in module builtins:

abs(x, /)
    Return the absolute value of the argument.

In [21]:
def note(a, b, c):
 print(a)

In [22]:
note(b=2 ,a=1, c=3)

1

### The print() Function

In [23]:
print('Hello world!')

Hello world!

In [24]:
a = "I"
b = "am"
c = "Paridhi"
print(a,"\n#"*2,"\n",b,"\n#"*2,"\n",c)

I
#
#
 am
#
#
 Paridhi

[*Return to the Top*](#python-cheatsheet)

### The input() Function

Example Code:

In [26]:
print('What is your name?')   # ask for their name
myName = input()
age = int(input("Your age please: "))
print(type(age))
print(f'It is good to meet you, {myName}. You are {age+1} years old')

What is your name?

 44
Your age please:  44

<class 'int'>
It is good to meet you, 44. You are 45 years old

In [27]:
print('enter a value')
i= int(input())
while i<10:
  print(i)
  i+=1

enter a value

 44

[*Return to the Top*](#python-cheatsheet)

### The str(), int(), and float() Functions

Integer to String or Float:

In [28]:
 str(29)

'29'

In [29]:
 Age = 29
 Name = "Atin" 
 print(f'I am {Age} years old. {Name}')

I am 29 years old. Atin

In [30]:
print('I am ' + str(Age) +  ' years old.' + Name)

I am 29 years old.Atin

In [31]:
 str(-3.14)

'-3.14'

Float to Integer:

In [32]:
 int(7.7)

7

In [33]:
 int(7.7) + 1

8

[*Return to the Top*](#python-cheatsheet)

## Flow Control

### Comparison Operators

| Operator | Meaning                  |
| -------- | ------------------------ |
| `==`     | Equal to                 |
| `!=`     | Not equal to             |
| `<`      | Less than                |
| `>`      | Greater Than             |
| `<=`     | Less than or Equal to    |
| `>=`     | Greater than or Equal to |

These operators evaluate to True or False depending on the values you give them.

Examples:

In [34]:
42 == 42

True

In [35]:
40 == 42

False

In [36]:
'hello' == 'hello'

True

In [37]:
'hello' == 'Hello'

False

In [38]:
'dog' != 'cat'

True

In [39]:
42 == 42.0

True

In [40]:
42 == '42'

False

### Boolean evaluation

Never use `==` or `!=` operator to evaluate boolean operation. Use the `is` or `is not` operators,
or use implicit boolean evaluation.

NO (even if they are valid Python):

In [41]:
True == True

True

In [42]:
True != False

True

YES (even if they are valid Python):

In [43]:
True is True

True

In [44]:
True is not False

True

These statements are equivalent:

In [48]:
value=input("a")
if a is True:
   # I will do this and that later on for this. Mr Atin will give me input for that.
   pass
if a is not False:
  pass
if a:
   pass

a a

And these as well:

In [49]:
 if a is False:
    pass
 if a is not True:
    pass
 if not a:
    pass

In [50]:
(4 < 5) and (5 < 6)

True

In [51]:
 (4 < 5) and (9 < 6)

False

In [52]:
 (1 == 2) or (2 == 2)

True

In [53]:
 2 + 2 == 4 and not 2 + 2 == 5 and 2 * 2 == 2 + 2

True

[*Return to the Top*](#python-cheatsheet)

### if Statements

In [54]:
name = "damini"

if name == 'damini':
  print('Hi,damini.')
  print('How are you')
  
  print('How are you')

Hi,damini.
How are you
How are you

[*Return to the Top*](#python-cheatsheet)

### else Statements

In [55]:
name = 'Bob'
if name == 'Alice':
    print('Hi, Alice.')
else:
    print('Hello, stranger.')

Hello, stranger.

[*Return to the Top*](#python-cheatsheet)

### elif Statements

In [56]:
name = 'Bob'
age = 5
if name == 'Alice':
    print('Hi, Alice.')
elif age < 12:
    print('You are not Alice, kiddo.')

You are not Alice, kiddo.

In [57]:
name = 'Bob'
age = 30
if name == 'Alice':
    print('Hi, Alice.')
elif age < 12:
    print('You are not Alice, kiddo.')
else:
    print('You are neither Alice nor a little kid.')

You are neither Alice nor a little kid.

[*Return to the Top*](#python-cheatsheet)

### while Loop Statements

In [58]:
myVariable = 0
while myVariable < 5:
    print('Hello, world.')
    myVariable = myVariable + 1

Hello, world.
Hello, world.
Hello, world.
Hello, world.
Hello, world.

[*Return to the Top*](#python-cheatsheet)
### break Statements

 If the execution reaches a break statement, it immediately exits the while loopâ€™s clause:

In [60]:
while True:
    print('Please type your name.')
    name = input()
    if name == 'Atin':
        break
print('Thank you!')

Please type your name.

 Atin

Thank you!

[*Return to the Top*](#python-cheatsheet)

### continue Statements

When the program execution reaches a continue statement, the program execution immediately jumps back to the start of the loop.

In [61]:
while True:
    print('Who are you?')
    name = input()
    if name != 'Atin':
        continue
    print('Hello, Joe. What is the password? (It is a fish.)')
    password = input()
    if password == 'swordfish':
        break
print('Access granted.')

Who are you?

 Atin

Hello, Joe. What is the password? (It is a fish.)

 swordfish

Access granted.

[*Return to the Top*](#python-cheatsheet)

### for Loops and the range() Function

In [63]:
 print('My name is')
 for i in range(50,41,-1):
     print('Jimmy Five Times ({})'.format(str(i)))

My name is
Jimmy Five Times (50)
Jimmy Five Times (49)
Jimmy Five Times (48)
Jimmy Five Times (47)
Jimmy Five Times (46)
Jimmy Five Times (45)
Jimmy Five Times (44)
Jimmy Five Times (43)
Jimmy Five Times (42)

The *range()* function can also be called with three arguments. The first two arguments will be the start and stop values, and the third will be the step argument. The step is the amount that the variable is increased by after each iteration.

In [64]:
 for i in range(20, 10,-2):
    print(i)

20
18
16
14
12

You can even use a negative number for the step argument to make the for loop count down instead of up.

In [65]:
 for i in range(5, -1, -1):
     print(i)

5
4
3
2
1
0

### For else statement

This allows to specify a statement to execute in case of the full loop has been executed. Only
useful when a `break` condition can occur in the loop:

In [66]:
 for i in [1, 2, 3, 4, 5]:
    if i == 3:
        break
 else:
    print("only executed when no item of the list is equal to 3")

[*Return to the Top*](#python-cheatsheet)

## Lists

In [67]:
 myVariable = ['cat', 'bat', 'rat', 'elephant', 50, 54.5]

 myVariable[-2]

50

[*Return to the Top*](#python-cheatsheet)

### Getting Individual Values in a List with Indexes

In [68]:
 myVariable = ['cat', 'bat', 'rat', 'elephant']
 myVariable[0:4]

['cat', 'bat', 'rat', 'elephant']

In [69]:
 myVariable[::]

['cat', 'bat', 'rat', 'elephant']

In [70]:
 myVariable[2]

'rat'

In [71]:
 myVariable[3]

'elephant'

[*Return to the Top*](#python-cheatsheet)

### Negative Indexes

In [72]:
 myVariable = ['cat', 'bat', 'rat', 'elephant']
 
 myVariable[-2]

'rat'

In [73]:
 myVariable[-3]

'bat'

In [74]:
 'The {} is afraid of the {}.'.format(myVariable[-1], myVariable[-3])

'The elephant is afraid of the bat.'

[*Return to the Top*](#python-cheatsheet)

### Getting Sublists with Slices

In [75]:
 myVariable = ['cat', 'bat', 'rat', 'elephant']
 myVariable[:3]

['cat', 'bat', 'rat']

In [76]:
 myVariable[1:3]

['bat', 'rat']

In [77]:
 myVariable[-1:0:-1]

['elephant', 'rat', 'bat']

In [78]:
 myVariable = ['cat', 'bat', 'rat', 'elephant']
 myVariable[:2]

['cat', 'bat']

In [79]:
 myVariable[1:]

['bat', 'rat', 'elephant']

[*Return to the Top*](#python-cheatsheet)

### Getting a Listâ€™s Length with len()

In [80]:
 myVariable = ['cat', 'dog', 'moose']
 len(myVariable)

3

[*Return to the Top*](#python-cheatsheet)

### Changing Values in a List with Indexes

In [81]:
 myVariable = ['cat', 'bat', 'rat', 'elephant']
 myVariable[1] = 'aardvark'

 print(myVariable)


 myVariable[2] = myVariable[1]

 print(myVariable)


 myVariable[-1] = 12345

 print(myVariable)

['cat', 'aardvark', 'rat', 'elephant']
['cat', 'aardvark', 'aardvark', 'elephant']
['cat', 'aardvark', 'aardvark', 12345]

[*Return to the Top*](#python-cheatsheet)

### List Concatenation and List Replication

In [82]:
[1, 2, 3] + ['A', 'B', 'C']

print(['X', 'Y', 'Z'] * 3)

myVariable = [1, 2, 3]

myVariable = myVariable + ['A', 'B', 'C']

myVariable

['X', 'Y', 'Z', 'X', 'Y', 'Z', 'X', 'Y', 'Z']

[1, 2, 3, 'A', 'B', 'C']

[*Return to the Top*](#python-cheatsheet)

### Removing Values from Lists with del Statements

In [83]:
 myVariable = ['cat', 'bat', 'rat', 'elephant']
 del myVariable[2]
 myVariable

['cat', 'bat', 'elephant']

In [84]:
 del myVariable[2]
 myVariable

['cat', 'bat']

### The in and not in Operators

In [85]:
 if('howdy1' in ['hello', 'hi', 'howdy', 'heyas','howdy1']):
  print ("has")

has

In [86]:
 myVariable = ['hello', 'hi', 'howdy', 'heyas']
 'radhika' in myVariable

False

In [87]:
 'howdy' not in myVariable

False

In [88]:
 'radhika' not in myVariable

True

If the value appears multiple times in the list, only the first instance of the value will be removed.

[*Return to the Top*](#python-cheatsheet)

### Sorting the Values in a List with the sort() Method

In [89]:
 myVariable = [2, 5, 3.14, 1, -7]
 myVariable.sort()
 myVariable

[-7, 1, 2, 3.14, 5]

In [90]:
myVariable = ['ants', 'cats', 'dogs', 'badgers', 'elephants']
myVariable.sort()
myVariable

['ants', 'badgers', 'cats', 'dogs', 'elephants']

In [91]:
from random import shuffle 


shuffle(myVariable)
print(myVariable)

['dogs', 'cats', 'ants', 'badgers', 'elephants']

You can also pass True for the reverse keyword argument to have sort() sort the values in reverse order:

In [92]:
myVariable.sort(reverse=True)
myVariable

['elephants', 'dogs', 'cats', 'badgers', 'ants']

[*Return to the Top*](#python-cheatsheet)

### Tuple Data Type

In [93]:
# Immutable
# Can't change values after initialize
# Tuple, String, Int, Float

#Mutable
# List, Dictionary, Array

eggs = ('hello', 42, 0.5)
eggs[0]

'hello'

In [94]:
Age = 46

In [95]:
id(Age)

140200760641168

In [96]:
eggs = (45,58,65)
'radhika' in myVariable

False

In [97]:
id(eggs)

140200688954880

In [98]:
eggs[1:3]

(58, 65)

In [99]:
len(eggs)

3

[*Return to the Top*](#python-cheatsheet)

## Dictionaries and Structuring Data

Example Dictionary:

In [100]:
myCat = {'size': 'fat', 'color': 'gray', 'disposition': 'loud'}

In [101]:
myCat["size"]

'fat'

In [105]:
fullname=("Atin","Gupta")
fullname

('Atin', 'Gupta')

In [ ]:
firstname, lastname = fullname
firstname = fullname[0]
lastname = fullname[1]

In [106]:
def getFullname():
  return "Atin","Gupta"

In [109]:
a,b = getFullname()

In [110]:
print(a,b)

Atin Gupta

In [111]:
a=6
id(a)

140200760639888

In [112]:
list=[1,2,3,4]
list
id(list)

140200689187968

In [113]:
list[2]=7
list

[1, 2, 7, 4]

In [114]:
id(list)

140200689187968