Enumerate

This lets you take the element's index and use it as a variable.

In [1]:
pies = ['apple', 'blueberry', 'lemon']

for num, i in enumerate(pies):
    print(num, ':', i)

0 : apple
1 : blueberry
2 : lemon

## Comprehensions

### Are a quicker way to create lists, dicts and sets, they act like for loops and can take conditions as well as if else statements.

#### List comprehension

In [2]:
# Manual way to make a list

list_1 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
list_2 = [11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

print(list_1)
print(list_2)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [3]:
# Using list()

list_1_with_list = list(range(1, 11))
list_2_with_list = list(range(11, 21))

print(list_1_with_list)
print(list_2_with_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [4]:
# List comprehension autogenerates the list, they function closely to for loops.

list_1_with_comp = [x for x in range(1, 11)]
list_2_with_comp = [x for x in range(11, 21)]

print(list_1_with_comp)
print(list_2_with_comp)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [5]:
# Works with functions.

def addition(x):
    return x + x

[addition(x) for x in range(0, 3)]

[0, 2, 4]

In [6]:
# Also works with conditions
# The % is modulus which gives you the remainder after division.

# If an number is even add 1 if it's odd add 3

[x + 1 if x%2 ==0 else x + 3 for x in range(1, 11)]

[4, 3, 6, 5, 8, 7, 10, 9, 12, 11]

### Set comprehension

In [ ]:
# Set comprehension is same format as list comprehension but uses curly brackets.

set_1_with_comp = {x for x in range(1, 11)}
set_2_with_comp = {x for x in range(11, 21)}

In [ ]:
print(set_1_with_comp)
print(set_2_with_comp)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
{11, 12, 13, 14, 15, 16, 17, 18, 19, 20}

### Dict comprehension

In [ ]:
# dict comprehension to create dict with numbers as values
{str(i):i for i in [1,2,3,4,5]}

{'1': 1, '2': 2, '3': 3, '4': 4, '5': 5}

In [ ]:
strName = "Atin"

## Lists: popping elements

In [ ]:
tasks = ["email Frank", "call Sarah", "meet with Zach"]

In [ ]:
latest_task_accomplished = tasks.pop()
latest_task_accomplished

'meet with Zach'

In [ ]:
tasks = ["email Frank", "call Sarah", "meet with Zach"] 
latest_task_accomplished = tasks.pop(1)   # Pops the element from index position 1
latest_task_accomplished

'call Sarah'

### Input always returns string values

In [ ]:
monthly_income = input("Enter your monthly income: ")

Enter your monthly income: 1200

In [ ]:
type(monthly_income)

str

In [ ]:
monthly_income = int(monthly_income)
type(monthly_income)

int

## Dictionaries: How to pick information out of them

In [ ]:
customer_29876 = {"first name": "David", "last name": "Elliott", "address": "4803 Wellesley St."}

In [ ]:
customer_29876

{'first name': 'David',
 'last name': 'Elliott',
 'address': '4803 Wellesley St.'}

In [ ]:
address_of_customer = customer_29876["address"]
address_of_customer

'4803 Wellesley St.'

In [ ]:
customer_29876["city"] = "Toronto"

In [ ]:
customer_29876

{'first name': 'David',
 'last name': 'Elliott',
 'address': '4803 Wellesley St.',
 'city': 'Toronto'}

In [ ]:
# Empty Dictionery
things_to_remember = {}

In [ ]:
things_to_remember[0] = "the lowest number"
things_to_remember["a dozen"] = 12

In [ ]:
things_to_remember

{0: 'the lowest number', 'a dozen': 12}

In [ ]:
# When declaring list/set/dict constants, end all lines with a comma.

names = [
    'Alice',
    'Bob',
    'Jane',
]
names

['Alice', 'Bob', 'Jane']

In [ ]:
# This helps avoiding errors related to removing/adding items to constance (due to Python's string literal concatenation), 
# such as:

names = [
    'Alice',
    'Bob',
    'Jane'
    'Ken'
]
names

['Alice', 'Bob', 'JaneKen']

### Dictionary tricks

### Dictionary default values

In [7]:
name_to_firstname = {'FirstName':'Atin'}

In [8]:
def greet(name):
        return f'Hi {name_to_firstname[name]}!'

In [9]:
greet("FirstName")

'Hi Atin!'

In [10]:
greet("FirstName1")

KeyError: 'FirstName1'

In [11]:
def greet(name):
    try:
        return f'Hi {name_to_firstname[name]}!'
    except KeyError:
        return 'Hi user!'

In [12]:
greet("FirstName")

'Hi Atin!'

In [13]:
greet("FirstName1")

'Hi user!'

In [14]:
def greet(name):
    return 'Hi {}!'.format(name_to_firstname.get(name, 'user'))

In [15]:
greet("FirstName")

'Hi Atin!'

In [16]:
greet("FirstName1")

'Hi user!'

### Dict printing

In [20]:
import json

print(xs)

{'Name': 'Atin', 'LastName': 'Gupta', 'FullName': 'Atin Gupta'}

In [21]:
import json

print(json.dumps(xs, indent=4, sort_keys=True))

{
    "FullName": "Atin Gupta",
    "LastName": "Gupta",
    "Name": "Atin"
}

### Know Which Version of Python You Are Using

In [37]:
import sys
print(sys.version_info)
print(sys.version)

sys.version_info(major=3, minor=10, micro=12, releaselevel='final', serial=0)
3.10.12 (main, Jun 11 2023, 05:26:28) [GCC 11.4.0]

## Profiling

### iPython Timing Magic

In [24]:
%time a = "abc"

CPU times: user 2 µs, sys: 1 µs, total: 3 µs
Wall time: 5.25 µs

In [25]:
%timeit -n 100 a = "abc"

20.1 ns ± 1.81 ns per loop (mean ± std. dev. of 7 runs, 100 loops each)

## Optimization

### Q: Why can Python be slow?
* A: It's an interpreted language with dynamic typing.

In [27]:
a = 0 

# Python doesn't compile, so can't optimise below 
for i in range(100): 
    a += i # <- Will check types for 'a' and 'i' every time they are used (100 times)

But Python is 'batteries included' -- there are plenty of mature third-party packages that can reverse one or both of these characteristics for the bits of your code that need it.

#### Options
* Restructurting your code
* NumPy - Work with arrays/matrices
* Pandas - Builds on NumPy for conveniently working with tables
* Cython - Converts bits of your code to low-level C code (which can be compiled)

#### NumPy

In [45]:
# Pure Python
from random import random

a = [random() for _ in range(100000)]
b = [random() for _ in range(100000)]

In [52]:
%%timeit
c = [x * y for x, y in zip(a, b)]

16.6 ms ± 71.4 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [36]:
#!pip install numpy
#!pip install pandas

In [48]:
# NumPy
import numpy as np

a = np.array(a)
b = np.array(b)

In [53]:
%%timeit
c = a * b

96.8 µs ± 179 ns per loop (mean ± std. dev. of 7 runs, 10,000 loops each)

### NumPy is about 100x faster here!

* Numpy includes a bunch of functions for working with arrays and matrics, including things like finding min/max, averages, and so on.

* If you're working with large sets of numbers, for instance doing linear algebra, then you should use NumPy rather than built-in Python types.

### JSON Data

In [39]:
obj = """
{"name": "Wes",
 "places_lived": ["United States", "Spain", "Germany"],
 "pet": null,
 "siblings": [{"name": "Scott", "age": 30, "pets": ["Zeus", "Zuko"]},
              {"name": "Katie", "age": 38,
               "pets": ["Sixes", "Stache", "Cisco"]}]
}
"""

In [40]:
import json
result = json.loads(obj)
result

{'name': 'Wes',
 'places_lived': ['United States', 'Spain', 'Germany'],
 'pet': None,
 'siblings': [{'name': 'Scott', 'age': 30, 'pets': ['Zeus', 'Zuko']},
  {'name': 'Katie', 'age': 38, 'pets': ['Sixes', 'Stache', 'Cisco']}]}

In [41]:
asjson = json.dumps(result)

In [42]:
siblings = pd.DataFrame(result['siblings'], columns=['name', 'age'])
siblings

    name  age
0  Scott   30
1  Katie   38